<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


    <context:component-scan base-package="com.itheima.web"/>

    <bean id="resourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="conversionServiceFactoryBean" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="com.itheima.web.converter.StringToDateController"/>
            </set>
        </property>
    </bean>

    <bean class="com.itheima.web.exceptions.CustomErrorException">
    </bean>

    <mvc:annotation-driven conversion-service="conversionServiceFactoryBean"/>
    <mvc:default-servlet-handler/>

    <aop:aspectj-autoproxy/>

   <!--项目名-->
    <dubbo:application name="export_web"/>
    <!--注册中心-->
    <dubbo:registry address="zookeeper://192.168.177.129:2181"/>
    <!--dubbo注解驱动-->
    <dubbo:annotation package="com.itheima.web.controller"/>
    <!--默认是true，provider不启动时报错，如下设置为false，则是provider不启动也不报错-->
    <dubbo:consumer check="false"/>

    <!--文件上传-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="5242880"/>
    </bean>

</beans>